        h4{
            font-family: fantasy;
            color: black;
        }
        body{
            background-color: darkcyan;
        }
        h2{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: black;
            text-align: center;
            padding:10px ;
            background-color: aquamarine;
        }
        img{
            border-radius: 30px;
        }
        .list-habili{
            padding: 30px;
            font-size: medium;
            margin: 15px;
        }
        #minha-foto {
            float: left;
            padding: 10px;
            height: 280px;
            background-color: rgb(109, 5, 109) ;
        }
        .imagem-ajeitada{
            height: 300px;
        }
        ul li:nth-child(odd) {
           background-color: yellow;
        }
       