        *{
            background-color: rgb(187, 241, 234);
         
        }
        h4{
            display: flex;
            font-family: fantasy;
            color: black;
            padding: 15px;
        }
        h2{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: black;
            text-align: center;
            padding:10px ;
        }
        .list-habilit{
            display: flex;
            padding: 30px;
            font-size: medium;
            margin: 15px;
            list-style: none;
            flex-direction: column;
        }
        #minha-foto {
            display: flex;
            float: left;
            padding: 10px;
            height: 280px;
            border-radius: 30px;
            
        }
        .imagem-ajeitada{
            height: 300px;
        }
        
        .cabeçalho{
            display: flex;
            justify-content: space-between;
    
        }
        .otherList {
         display: flex;
         flex-direction: column;
        }
        .instagram {
            display: flex;
            color: black;
        }
        .list-habilit a {
            text-decoration: none;
        }
       